# M11007309 鄭維新
 該程式使用爬蟲將外資買賣超排行前20的資料抓取下來，而且可以讓使用者挑選上市上櫃以及天數

In [1]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
from tabulate import tabulate

In [13]:
# 外資買賣超排行
print("input category ( 上市：0 / 上櫃：1 )")
category = input()  # 上市(0)/上櫃(1)
print("input date ( 天數 : 1, 5, 10 )")
day = input()  # 天數 EX 1 5 10
print("input rank ( 排行數量 最大50筆 )")
rank = input()

input category ( 上市：0 / 上櫃：1 )
input date ( 天數 : 1, 5, 10 )
input rank ( 排行數量 最大50筆 )

In [14]:
response = requests.get(
    "http://fubon-ebrokerdj.fbs.com.tw/z/zg/zgk.djhtm?A=D&B="+category+"&C="+day)

In [22]:
soup = BeautifulSoup(response.content.decode('big5', 'ignore'), "html.parser")
stock_name = soup.find_all('td', {'class': 't3t1'}, limit=int(rank)*2)
stock_price = soup.find_all('td', {'class': 't3n1'}, limit=int(rank)*5)
dd = soup.find_all('div', {'class': 't11'})

In [23]:
for x in dd:
    date = x.getText()[3:]
date = date.replace("/", "_")

In [24]:
buy = {}
sale = {}
i = 0
for x in range(1,int(rank)+1):
    buy[x] = []
    sale[x] = []

In [25]:
i = 0
j = 1
for x in stock_name:
    name = x.getText()
    if(i%2 == 0):
        buy[j].append(name)
    else:
        sale[j].append(name)
        j+=1
    i+=1

In [26]:
i = 0
j = 1
for x in stock_price:
    price = x.getText()
    if(price != "0"):
        if(i <= 1):
            buy[j].append(price)
        else:
            sale[j].append(price)
        if(i == 3):
            j += 1
            i = 0
        else: 
            i+=1
    if(j == int(rank)+1):
        break

In [27]:
buy_df = pd.DataFrame.from_dict(
    buy, orient='index', columns=['名稱', '張數', '收盤價'])
sale_df = pd.DataFrame.from_dict(sale, orient='index', columns=[
                                 '名稱', '張數', '收盤價'])

In [28]:
if(category == "0"):
    print(date+"上市外資買賣超排行"+day+"日排行")
    buy_df.to_csv(date+"上市外資買超排行"+day+"日排行.csv", encoding='big5')
    sale_df.to_csv(date+"上市外資賣超排行"+day+"日排行.csv", encoding='big5')

else:
    print(date+"上櫃外資買賣超排行"+day+"日排行")
    buy_df.to_csv(date+"上櫃外資買超排行"+day+"日排行.csv", encoding='big5')
    sale_df.to_csv(date+"上櫃外資賣超排行"+day+"日排行.csv", encoding='big5')

print("買超排行")
print(tabulate(buy_df,headers='keys',tablefmt='psql'))
print("賣超排行")
print(tabulate(sale_df,headers='keys',tablefmt='psql'))

11_15上市外資買賣超排行5日排行
買超排行
+----+------------------+---------+----------+
|    | 名稱             | 張數    |   收盤價 |
|----+------------------+---------+----------|
|  1 | 2610華航         | 174,758 |    26.4  |
|  2 | 2618長榮航       | 101,926 |    26.75 |
|  3 | 2884玉山金       | 71,924  |    27.95 |
|  4 | 2337旺宏         | 34,685  |    42.85 |
|  5 | 2883開發金       | 29,079  |    15.6  |
|  6 | 2890永豐金       | 26,873  |    14.7  |
|  7 | 2330台積電       | 23,184  |   608    |
|  8 | 00881國泰台灣5G+ | 21,974  |    18.16 |
|  9 | 2888新光金       | 21,509  |    10.1  |
| 10 | 2436偉詮電       | 21,348  |   108    |
| 11 | 2303聯電         | 20,857  |    63.4  |
| 12 | 1709和益         | 15,554  |    22.8  |
| 13 | 0050元大台灣50   | 13,372  |   140.95 |
| 14 | 1605華新         | 12,441  |    27.5  |
| 15 | 4960誠美材       | 12,343  |    12.6  |
| 16 | 2344華邦電       | 12,270  |    30.15 |
| 17 | 0056元大高股息   | 11,933  |    32.43 |
| 18 | 2882國泰金       | 11,653  |    59.7  |
| 19 | 2887台新金       | 11,311  |    18.55 |
| 20 | 2382廣達         | 10,417  |    86    |
| 21 | 2449京元電子     | 9,462   |    42.15 |
| 22 | 2886兆豐金       | 8,625   |    33.95 |
| 23 | 2317鴻海         | 7,965   |   108    |
| 24 | 2356英業達       | 7,877   |    26.65 |
| 25 | 2368金像電       | 7,866   |    77.1  |
| 26 | 2377微星         | 7,737   |   161    |
| 27 | 4927泰鼎-KY      | 7,716   |   103.5  |
| 28 | 2312金寶         | 7,192   |    14.2  |
| 29 | 2891中信金       | 7,113   |    24    |
| 30 | 1718中纖         | 6,972   |    10.2  |
+----+------------------+---------+----------+
賣超排行
+----+-----------------------+---------+----------+
|    | 名稱                  | 張數    |   收盤價 |
|----+-----------------------+---------+----------|
|  1 | 3481群創              | -87,120 |    17.2  |
|  2 | 2324仁寶              | -36,602 |    23.7  |
|  3 | 2014中鴻              | -35,043 |    34.75 |
|  4 | 1802台玻              | -33,531 |    27.5  |
|  5 | 2603長榮              | -33,109 |   112    |
|  6 | 2340光磊              | -25,141 |    45    |
|  7 | 2002中鋼              | -23,289 |    33.65 |
|  8 | 2409友達              | -23,172 |    20.3  |
|  9 | 00882中信中國高股息   | -20,094 |    13.71 |
| 10 | 2023燁輝              | -19,411 |    25.25 |
| 11 | 1305華夏              | -17,192 |    35.5  |
| 12 | 1216統一              | -16,101 |    68    |
| 13 | 3711日月光投控        | -14,558 |   105.5  |
| 14 | 8150南茂              | -14,219 |    47.15 |
| 15 | 00715L期街口布蘭特正2 | -13,817 |    11.17 |
| 16 | 1711永光              | -12,914 |    28.05 |
| 17 | 2498宏達電            | -12,041 |    90.9  |
| 18 | 2609陽明              | -11,994 |   105    |
| 19 | 2352佳世達            | -11,675 |    31.2  |
| 20 | 2881富邦金            | -11,394 |    74    |
| 21 | 1308亞聚              | -9,830  |    38.25 |
| 22 | 2615萬海              | -9,653  |   157    |
| 23 | 00893國泰智能電動車   | -9,053  |    17.63 |
| 24 | 2030彰源              | -7,967  |    30.55 |
| 25 | 9945潤泰新            | -7,920  |    69    |
| 26 | 1609大亞              | -7,722  |    25    |
| 27 | 1314中石化            | -7,298  |    13.05 |
| 28 | 2617台航              | -6,849  |    36.25 |
| 29 | 2331精英              | -6,705  |    21.3  |
| 30 | 2481強茂              | -6,582  |   100.5  |
+----+-----------------------+---------+----------+